<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>115562076415-nqb7ksa845tkjtgeo2rcuq11gcji8qmd.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.115562076415-nqb7ksa845tkjtgeo2rcuq11gcji8qmd</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>115562076415-ivpi9gi1losnu9d4lmc5kdgorqg6fng0.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBmk92i7y-PLgRlZ5b1lwUYisCJpobRo44</string>
	<key>GCM_SENDER_ID</key>
	<string>115562076415</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.project</string>
	<key>PROJECT_ID</key>
	<string>test-project-9c03e</string>
	<key>STORAGE_BUCKET</key>
	<string>test-project-9c03e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:115562076415:ios:9fe233cc33761aae5214ca</string>
</dict>
</plist>